<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>REST API Consume</title>

    <meta property="og:title" content="A story of us"/>
    <meta property="og:image"
          content="https://images.unsplash.com/photo-1515815491543-9959ca08f466?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <link href="https://fonts.googleapis.com/css?family=Caveat|Fredericka+the+Great|Kalam" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

<div class="container">
    <div class="section">
        <div class="row">
            <nav>
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="/" class="breadcrumb">Home</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="div" th:each="message : ${messages}">
                <div class="col s12 m3 scale-transition scale-in">
                    <a th:href="'/quote/'+${message.getValue().getId().toString()}">
                        <div class="card grey darken-1 hoverable" style="height: 90px;">
                            <div class="card-content white-text">
                                <p class="truncate" th:text="${message.getValue().getQuote()}">Content here</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <footer class="page-footer">

        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright
                <p>API consumed from: <a href="http://gturnquist-quoters.cfapps.io/api/" class="white-text">http://gturnquist-quoters.cfapps.io/api/</a>
                </p>
                <a class="white-text" href="https://github.com/Xavier-IV/spring-mvc-quotes" target="_blank">Github</a>
            </div>
        </div>
    </footer>

</div>
</body>
</html>